:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ef286b;

    --dashboard-height: 450px;
    --cd-thumb-height: 240px;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
/* 100% - 16px - 1rem : 1rem - 10px - 62.5% */
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}
